
.AddLocationModal {
    .card-body {
        overflow: unset;
    }
    .error {
        display: unset;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #f86c6b;
    }
    .error-select {
        .Select-control {
            border: 1px solid red;
        }
        
    }
}