
.OrderTypeItem {
    cursor: pointer;
    img {
        width: 100px;
    }
    h6 {
        line-height: 1.4rem;
    }
    &__text {
        color: #0054a6 !important;
    }

    .switch-label {
        width: 100%;
        
    }
    .switch-slider{
        width: 100px;
        margin: 0 auto;
    }
    .switch-label .switch-input:checked ~ .switch-slider::before {
        transform: translateX(75px);
    }
    .switch-label .switch-slider::after {
        width: 80%;
        font-weight: bold;
        font-size: 12px;
    }
    .switch-input:disabled ~ .switch-slider {
        cursor: pointer;
        opacity: 1;
    }
}